@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Kablammo&family&family=Kalamfamily=Tangerine:wght@700&display=swap");

:root {
  --coral: #f05d5e;
  --teal: #0f7173;
  --light: #e7ecef;
  --light-lime: #ecf8f2;
  --dark: #272932;
  --camel: #d8a47f;
  --burnt-camel: #744d25;
  --burnt-cam: #4d2600;
  --black: #000;
  --dark-moss: #1f1f14;
  --moss: #3d3d29;
  --dark-green: #003300;
}

body {
  background-color: var(--light);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  text-align: center;
  font-family: "Hedvig Letters Sans", sans-serif;
  margin: 0;
}
.nav-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2px;
}

a {
  text-decoration: none;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  width: 100%;
  padding: 1rem;
  line-height: 1.4rem;
  gap: 5px;
}

.nav-logo a {
  color: var(--light);
}

.nav-links a {
  color: var(--light);
  padding: 10px;
}

.nav-links__item--change:hover {
  box-shadow: 2px 2px 2px var(--teal);
  transform: scaleY(1.1) scaleX(1.1);
}

.nav-logo--change:hover {
  box-shadow: 2px 2px 2px var(--teal);
  transform: scaleY(1.1) scaleX(1.1);
}

h1 {
  font-size: 2.25rem;
  font-family: "Tangerine", cursive;
}

h2 {
  /* font-size: 1.875rem; */
  font-family: "Tangerine", cursive;
}

p {
  font-size: 1rem;
}

.intro-text {
  width: 80%;
  display: none;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: space-around;
  gap: 2rem;
  margin: 2rem;
}

.card {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: center;
  box-shadow: 5px 10px 20px #000;
  border: 2px solid var(--black);
  border-radius: 20px;
  max-width: 19rem;
  width: 100%;
  padding: 10px;
  margin: 10px;
  background-color: #ecf8f2;
  line-height: 1.2rem;
}

.cat-name {
  font-family: "Kalam", cursive;
  font-size: 1.25rem;
}

.card p {
  font-size: 1.125rem;
}

.pet-pic {
  max-width: 100%;
  height: 12rem;
  display: flex;
}
img {
  height: 100%;
  width: 100%;
  background: var(--moss);
  border: 2px solid var(--black);
  border-radius: 20px;
}

@media only screen and (min-width: 700px) {
  .nav-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-links {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    margin-right: 2rem;
  }
  h1 {
    font-size: 2.5rem;
  }

  /* h2 {
    font-size: 2.125rem;
  } */
  .intro-text {
    font-size: 1.125rem;
    display: block;
  }

  .cat-name {
    font-size: 1.75rem;
  }
  .card p {
    font-size: 1.1875rem;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 3rem;
  }

  /* h2 {
    font-size: 2.5rem;
  } */

  .intro-text {
    font-size: 1.375rem;
  }
  .cat-name {
    font-size: 1.875rem;
  }
  .card p {
    font-size: 1.25rem;
  }
  a {
    font-size: 1.25rem;
  }
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .intro-text {
    font-size: 1.375rem;
  }
  /* .cat-name {
    font-size: 1.875rem;
  } */
  .card p {
    font-size: 1.25rem;
  }
  a {
    font-size: 1.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-moss);
    color: var(--light);
  }

  .card {
    background-color: var(--dark);
    border-color: var(--light);
    box-shadow: 5px 10px 20px var(--black);
  }
}
